.footer{
    display: flex;
    justify-content: space-between;
    background:black ;
    color:rgba(42, 240, 193, 100%); 
    font-size: 14px;
    margin-top: 80px;
}

.footer input{
    position: absolute;
    border: 1px solid rgba(42, 240, 193, 100%);
    border-radius: 5px;
    padding: 5px;
    background-color: black;
    color: rgba(42, 240, 193, 100%);
    
}

::placeholder{
    color:rgba(42, 240, 193, 50%);
    
}

.Logo2{
    padding-left: 20px;
}
.Connect{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 100px;

}
.link img {
    padding-left: 10px;
    
}