div{
    background:black ;
    color:rgba(42, 240, 193, 100%); 
    font-size: 14px;
}
.Logo1{
    padding-left: 20px;
    margin-top: 20px;
}
.header input{
    position: absolute;
    border: 1px solid rgba(42, 240, 193, 100%);
    border-radius: 5px;
    padding: 5px;
    background-color: black;
    color: rgba(42, 240, 193, 100%);
    left: 20%;
    top: 6%;
}
::placeholder{
    color:rgba(42, 240, 193, 50%);
    
}
.header{
    display: flex;
    justify-content: space-between;
}
.add{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-right: 30px;
    gap: 20px;
}
.plus{
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.hide {
    display: none;
}
.add-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}
